{% extends "TwigBundle::layout.html.twig" %}
{% block body %}
    <body class=" page-404-full-page">
        <div class="row">
            <div class="col-md-12 page-404">
                <div class="number font-green"> 404 </div>
                <div class="details">
                    <h3>Oops! You're lost.</h3>
                    <p> We can not find the page you're looking for.
                        
                    <br/> </p>
                    <p>
                        <a href="{{ path('dashboard_index')}}" class="btn green btn-outline"> Return home </a>
                        <br/>
                    </p>
                    
                </div>
            </div>
        </div>
{% endblock %}