{% extends "TwigBundle::layout.html.twig" %}
{% block body %}
    <body class=" page-404-full-page">
        <div class="row">
            <div class="col-md-12 page-404">
                <div class="number font-red"> 403 </div>
                <div class="details">
                    <h3>Sorry!</h3>
                    <p> You don't have permission to access this page.
                        
                    <br/> </p>
                    <p>
                        <a href="{{ path('dashboard_index')}}" class="btn red btn-outline"> Return home </a>
                        <br/>
                    </p>
                    
                </div>
            </div>
        </div>
{% endblock %}