{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
A password recovery email is sent to you, please check your email to complete the recovery process
</p>
{% endblock %}
